.banner {
    @extend %w-100;

    &__form {
        @extend %row;

        &__label {
            width: 50px;
            height: 50px;
            @extend %center;
            @include bac($color-white);
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            font-size: 19px;
        }

        &__input {
            min-width: 200px;
            border-color: transparent;
            padding-left: 10px;
            font-size: 19px;
        }

        &__submit {
            @extend %center;
            font-size: 17px;
            font-weight: bold;
            color: $color-white;
            background-color: $color-primary;
            border-color: transparent;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;

            &--mob {
                width: 50px;
                min-width: 50px;
                height: 50px;
                display: none;
                border-radius: 15px;

                >i {
                    color: $color-white;
                }
            }
        }
    }

    @include mob {
        padding: 0 20px;

        &__form {
            &__submit {
                display: none;

                &--mob {
                    display: flex;
                }
            }
        }
    }
}

.filter {
    @extend %w-100;
    @extend %row;
    align-items: start;
    margin-top: 20px;

    >h2 {
        margin: 20px 20px 20px 0;
    }

    &__list {
        width: 60%;
        @extend %row;
        flex-wrap: wrap;

        &__item {
            height: 48px;
            @extend %row;
            align-items: center;
            font-size: 19px;
            font-weight: bold;
            border: solid #F2F2F2;
            border-left: none;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            padding-right: 20px;
            margin: 10px 20px 10px 20px;

            &:hover {
                background-color: $color-secondary;

                >span {
                    color: $color-primary;
                }
            }

            >i {
                width: 47px;
                min-width: 47px;
                height: 47px;
                @extend %center;
                font-size: 19px;
                color: $color-primary;
                background-color: $color-secondary;
                border-radius: 30px;
                position: relative;
                right: 24px;
            }
        }
    }

    @include mob {
        flex-direction: column;
        padding: 0 20px;

        &__list {
            width: 100%;
        }
    }
}

.info {
    @extend %w-100;
    @extend %row;
    align-items: center;
    font-weight: 300;

    >i {
        width: 30px;
        min-width: 30px;
        height: 30px;
        @extend %center;
        font-size: 13px;
        color: $color-primary;
        border: solid #F2F2F2;
        border-radius: 30px;
        margin-right: 10px;
    }

    @include mob {
        padding: 0 20px;
    }
}

.accomodations {
    @extend %w-100;
    @extend %row;
    justify-content: space-between;
    margin: 20px 0;

    &__content {
        display: flex;
        flex-direction: column;
        flex: 2;
        border-radius: 20px;
        padding: 20px;
        margin-right: 50px;
        @include bac($color-white);

        &__list {
            @extend %row;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;

            &__item {
                width: 31%;
                height: 200px;
                @extend %column;
                font-size: 14px;
                background-color: $color-white;
                border-radius: 20px;
                padding: 5px;
                box-shadow: 8px 8px 10px #D6D6D6;

                @include mob {
                    width: 100%;
                    margin: 10px 0;
                }

                >a {
                    width: 100%;
                    height: 100%;

                    >img {
                        width: 100%;
                        height: 60%;
                        border-top-right-radius: 20px;
                        border-top-left-radius: 20px;
                    }
                }

            }
        }

        &__btn {
            font-size: 19px;
            font-weight: bold;
            text-decoration: underline;
            border: none;
            margin-top: 50px;
        }
    }

    &__popular {
        flex: 1;
        @extend %w-100;
        @include bac($color-white);
        border-radius: 20px;
        padding: 20px;

        &__header {
            @extend %row;
            justify-content: space-between;

            >i {
                font-size: 20px;
            }
        }

        &__list {
            @extend %column;
            gap: 15px;

            &__item {
                @extend %w-100;
                height: 150px;

                >a {
                    @extend %w-100;
                    height: 100%;
                    @extend %row;
                    font-size: 14px;
                    background-color: $color-white;
                    border-radius: 20px;
                    padding: 5px;
                    margin: 10px 0px;

                    >img {
                        width: 250px;
                        min-width: 50%;
                        max-width: 50%;
                        height: 140px;
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;
                    }

                    >div {
                        width: 50%;
                        @extend %column;
                        justify-content: space-between;
                        padding: 10px;
                    }
                }
            }
        }
    }

    @include tab {
        flex-direction: column-reverse;
        align-items: flex-start;

        &__content {
            width: 100%;
            margin-top: 20px;
            margin-right: 0;

            &__list {
                &__item {
                    >img {
                        height: 40%;
                    }
                }
            }
        }

        &__popular {
            width: 100%;

            &__list {
                flex-direction: row;
                justify-content: space-between;

                &__item {
                    width: 30%;

                    >img {
                        width: 40%;
                    }

                    >div {
                        width: 60%;
                    }
                }
            }
        }
    }

    @include mob {
        &__content {
            &__list {
                flex-direction: column;

                &__item {
                    width: 100%;
                }
            }
        }

        &__popular {
            &__list {
                flex-direction: column;

                &__item {
                    width: 100%;
                }
            }
        }
    }
}

.activities {
    @extend %w-100;
    @extend %column;
    margin: 20px 0;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 250px);
        grid-gap: 20px;

        &__item {
            height: 100%;
            @extend %column;
            border-radius: 20px;
            box-shadow: 8px 8px 10px #F2F2F2;

            >a {
                @extend %w-100;
                height: 100%;

                >img {
                    @extend %w-100;
                    height: 80%;
                    border-top-right-radius: 20px;
                    border-top-left-radius: 20px;
                }

                >h3 {
                    margin: 10px 15px;
                }
            }

            &:nth-child(1) {
                grid-column: 1;
                grid-row-start: 1;
                grid-row-end: -1;

                >a {
                    >img {
                        height: 90%;
                    }
                }
            }

            &:nth-child(2) {
                grid-column: 2;
                grid-row: 1;
            }

            &:nth-child(3) {
                grid-column: 2;
                grid-row: 2;
            }

            &:nth-child(4) {
                grid-column: 3;
                grid-row: 1;
                grid-row-end: -1;

                >a {
                    >img {
                        height: 90%;
                    }
                }
            }

            &:nth-child(5) {
                grid-column: 4;
                grid-row: 1;
            }

            &:nth-child(6) {
                grid-column: 4;
                grid-row: 2;
            }
        }
    }

    @include tab {
        padding: 0 20px;

        &__list {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 250px);

            &__item {
                &:nth-child(1) {
                    grid-column: 1;
                    grid-row: 1;

                    >a {
                        >img {
                            height: 80%;
                        }
                    }
                }

                &:nth-child(2) {
                    grid-column: 2;
                    grid-row: 1;
                }

                &:nth-child(3) {
                    grid-column: 1;
                    grid-row: 2;
                }

                &:nth-child(4) {
                    grid-column: 2;
                    grid-row: 2;

                    >a {
                        >img {
                            height: 80%;
                        }
                    }
                }

                &:nth-child(5) {
                    grid-column: 1;
                    grid-row: 3;
                }

                &:nth-child(6) {
                    grid-column: 2;
                    grid-row: 3;
                }

                >a {
                    >img {
                        height: 80%;
                    }
                }
            }
        }
    }

    @include mob {
        &__list {
            grid-template-columns: repeat(1, 100%);
            grid-template-rows: repeat(6, 250px);

            &__item {
                &:nth-child(1) {
                    grid-column: 1;
                    grid-row: 1;
                }

                &:nth-child(2) {
                    grid-column: 1;
                    grid-row: 2;
                }

                &:nth-child(3) {
                    grid-column: 1;
                    grid-row: 3;
                }

                &:nth-child(4) {
                    grid-column: 1;
                    grid-row: 4;
                }

                &:nth-child(5) {
                    grid-column: 1;
                    grid-row: 5;
                }

                &:nth-child(6) {
                    grid-column: 1;
                    grid-row: 6;
                }
            }
        }
    }
}