%column {
    display: flex;
    flex-direction: column;
}

%middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

%row {
    display: flex;
}

%w-100 {
    width: 100%;
}