.header {
    width: 90%;
    @extend %row;
    align-items: center;
    justify-content: space-between;

    &__logo {
        width: 100px;
        height: 50px;
    }

    &__nav {
        height: 100px;
        @extend %row;
        align-items: center;

        >a {
            width: 150px;
            height: 100%;
            @extend %center;

            &:hover {
                border-top: solid $color-primary;
                color: $color-primary;
            }
        }
    }

    @include mob {
        flex-direction: column;

        &__nav {
            width: 100%;

            >a {
                width: 50%;
                height: 50px;
                border-bottom: solid $color-secondary;

                &:hover {
                    border-top: none;
                    border-bottom: solid $color-primary;
                }

            }
        }
    }
}